body {
  backgound-image: url('https://github.com/OoFALLENoO/OoFALLENoO.github.io/blob/main/Eye.jpg');
  
}

h1 {
  color: black;
  text-align: center;
  font-family: bold;
  font-size: 50pt;
}

h2 {
  color: white;
}

h3 {
  color: white;
  text-align: center;
  font-family: cursive;
}

h4 {
  color: white;
}

p {
  font-family: verdana;
  font-size: 15px;
  color: white;
}
