body {
  background-color: black;
}

h1 {
  color: green;
  text-align: center;
  font-family: cursive;
  font-size: 50pt;
}

h2 {
  color: white;
}

h3 {
  color: white;
  text-align: center;
  font-family: cursive;
}

h6 {
  color: white;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: white;
}
